.new-question-form {
  padding: 3rem 2rem 4rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
  list-style: none;
}

.new-question-form__fieldset {
  margin-top: 5rem;
}

.new-question-form__legend {
  color: var(--secondary);
}

.new-question-form__input {
  color: black;
  width: 80%;
}

.new-question-form__submit {
  background: var(--secondary);
  color: var(--white);
  border: none;
  display: block;
  margin: 0 auto 2rem auto;
  margin-top: 2rem;
  padding: 1rem;
}

.new-question-form__submit:hover {
  opacity: 0.75;
  cursor: pointer;
}
